@mixin styles {
  color-scheme: dark;

  /* Framework color */
  $base-color: rgba(27, 27, 30, 1);
  --main-bg: $base-color;
  --mask-bg: rgba(68, 69, 70, 1);
  --main-border-color: rgba(44, 45, 45, 1);

  /* Common color */
  --text-color: rgba(175, 176, 177, 1);
  --text-muted-color: rgba(134, 134, 134, 1);
  --text-muted-highlight-color: rgba(174, 174, 174, 1);
  --heading-color: rgba(204, 204, 204, 1);
  --label-color: rgba(167, 167, 167, 1);
  --blockquote-border-color: rgba(66, 66, 66, 1);
  --blockquote-text-color: rgba(134, 134, 134, 1);
  --link-color: rgba(138, 180, 248, 1);
  --link-underline-color: rgba(82, 108, 150, 1);
  --button-bg: rgba(30, 30, 30, 1);
  --btn-border-color: rgba(46, 47, 49, 1);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: rgba(33, 33, 34, 1);
  --card-header-bg: rgba(41, 41, 41, 1);
  --checkbox-color: rgba(118, 120, 121, 1);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(
    circle,
    rgba(22, 22, 24, 1) 0%,
    rgba(32, 32, 32, 1) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: rgba(113, 112, 112, 1);
  --site-subtitle-color: rgba(134, 134, 134, 1);
  --sidebar-bg: rgba(30, 30, 30, 1);
  --sidebar-border-color: rgba(41, 41, 41, 1);
  --sidebar-muted-color: rgba(134, 134, 134, 1);
  --sidebar-active-color: rgba(255, 255, 255, 0.95);
  --sidebar-hover-bg: rgba(38, 38, 38, 1);
  --sidebar-btn-bg: rgba(35, 35, 40, 1);
  --sidebar-btn-color: rgba(120, 120, 120, 1);
  --avatar-border-color: rgba(206, 206, 206, 0.9);

  /* Topbar */
  --topbar-bg: rgba(27, 27, 30, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgba(55, 55, 55, 1);
  --search-icon-color: rgba(100, 102, 105, 1);
  --input-focus-border-color: rgba(112, 114, 115, 1);

  /* Home page */
  --post-list-text-color: rgba(175, 176, 177, 1);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: rgba(46, 46, 46, 1);

  /* Posts */
  --toc-highlight: rgba(116, 178, 243, 1);
  --toc-popup-border-color: rgba(55, 55, 55, 1);
  --tag-hover: rgba(43, 56, 62, 1);
  --tb-odd-bg: rgba(37, 37, 38, 1); /* odd rows of the posts' table */
  --tb-even-bg: rgba(31, 31, 34, 1); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgba(63, 81, 181, 1);
  --btn-share-color: rgba(108, 117, 125, 1);
  --btn-share-hover-color: rgba(191, 193, 202, 1);
  --card-bg: rgba(30, 30, 30, 1);
  --card-hovor-bg: rgba(70, 77, 81, 1);
  --card-shadow: rgba(21, 21, 21, 0.72) 0 6px 18px 0,
    rgba(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: rgba(106, 106, 106, 1);
  --kbd-text-color: rgba(211, 211, 211, 1);
  --kbd-bg-color: rgba(36, 36, 36, 1);
  --prompt-text-color: rgba(216, 212, 212, 0.75);
  --prompt-tip-bg: rgba(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgba(15, 164, 15, 0.81);
  --prompt-info-bg: rgba(7, 59, 104, 0.8);
  --prompt-info-icon-color: rgba(0, 117, 209, 1);
  --prompt-warning-bg: rgba(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgba(255, 165, 0, 0.8);
  --prompt-danger-bg: rgba(86, 28, 8, 0.8);
  --prompt-danger-icon-color: rgba(205, 2, 2, 1);

  /* Tags */
  --tag-border: rgba(59, 79, 88, 1);
  --tag-shadow: rgba(32, 33, 33, 1);
  --dash-color: rgba(63, 65, 68, 1);
  --search-tag-bg: rgba(41, 41, 41, 1);

  /* Categories */
  --categories-border: rgba(64, 66, 69, 0.5);
  --categories-hover-bg: rgba(73, 75, 76, 1);
  --categories-icon-hover-color: rgba(255, 255, 255, 1);

  /* Archive */
  --timeline-node-bg: rgba(150, 152, 156, 1);
  --timeline-color: rgba(63, 65, 68, 1);
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: rgba(45, 45, 45, 1);
  --highlight-bg-color: rgba(21, 21, 21, 1);
  --highlighter-rouge-color: rgba(201, 222, 241, 1);
  --highlight-lineno-color: rgba(128, 128, 128, 1);
  --inline-code-bg: rgba(255, 255, 255, 0.05);
  --code-color: rgba(176, 176, 176, 1);
  --code-header-text-color: rgba(106, 106, 106, 1);
  --code-header-muted-color: rgba(53, 53, 53, 1);
  --code-header-icon-color: rgba(86, 86, 86, 1);
  --clipboard-checked-color: rgba(43, 204, 43, 1);
  --filepath-text-color: rgba(202, 202, 202, 1);

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgba(26, 26, 30, 1),
      rgba(39, 39, 45, 1),
      rgba(39, 39, 45, 1),
      rgba(39, 39, 45, 1),
      rgba(26, 26, 30, 1)
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* --- Syntax highlight theme from `rougify style base16.dark` --- */

  .highlight .gp {
    color: rgba(135, 147, 157, 1);
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: rgba(208, 208, 208, 1);
    background-color: rgba(21, 21, 21, 1);
  }

  .highlight .err {
    color: rgba(21, 21, 21, 1);
    background-color: rgba(172, 65, 66, 1);
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: rgba(132, 132, 132, 1);
  }

  .highlight .cp {
    color: rgba(244, 191, 117, 1);
  }

  .highlight .nt {
    color: rgba(244, 191, 117, 1);
  }

  .highlight .o,
  .highlight .ow {
    color: rgba(208, 208, 208, 1);
  }

  .highlight .p,
  .highlight .pi {
    color: rgba(208, 208, 208, 1);
  }

  .highlight .gi {
    color: rgba(144, 169, 89, 1);
  }

  .highlight .gd {
    color: rgba(240, 138, 139, 1);
    background-color: rgba(50, 0, 0, 1);
  }

  .highlight .gh {
    color: rgba(106, 159, 181, 1);
    background-color: rgba(21, 21, 21, 1);
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: rgba(170, 117, 159, 1);
  }

  .highlight .kc {
    color: rgba(210, 132, 69, 1);
  }

  .highlight .kt {
    color: rgba(210, 132, 69, 1);
  }

  .highlight .kd {
    color: rgba(210, 132, 69, 1);
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: rgba(144, 169, 89, 1);
  }

  .highlight .sa {
    color: rgba(170, 117, 159, 1);
  }

  .highlight .sr {
    color: rgba(117, 181, 170, 1);
  }

  .highlight .si {
    color: rgba(183, 109, 69, 1);
  }

  .highlight .se {
    color: rgba(183, 109, 69, 1);
  }

  .highlight .nn {
    color: rgba(244, 191, 117, 1);
  }

  .highlight .nc {
    color: rgba(244, 191, 117, 1);
  }

  .highlight .no {
    color: rgba(244, 191, 117, 1);
  }

  .highlight .na {
    color: rgba(106, 159, 181, 1);
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: rgba(144, 169, 89, 1);
  }

  .highlight .ss {
    color: rgba(144, 169, 89, 1);
  }
}
