@mixin styles {
  /* Framework color */
  $base-color: rgba(255, 255, 255, 1);
  --main-bg: $base-color;
  --mask-bg: rgba(193, 195, 197, 1);
  --main-border-color: rgba(243, 243, 243, 1);

  /* Common color */
  --text-color: rgba(52, 52, 60, 1);
  --text-muted-color: rgba(117, 117, 117, 1);
  --text-muted-highlight-color: inherit;
  --heading-color: rgba(42, 42, 42, 1);
  --label-color: rgba(88, 88, 88, 1);
  --blockquote-border-color: rgba(238, 238, 238, 1);
  --blockquote-text-color: rgba(117, 117, 117, 1);
  --link-color: rgba(0, 86, 178, 1);
  --link-underline-color: rgba(222, 226, 230, 1);
  --button-bg: rgba(255, 255, 255, 1);
  --btn-border-color: rgba(233, 236, 239, 1);
  --btn-backtotop-color: rgba(104, 104, 104, 1);
  --btn-backtotop-border-color: rgba(241, 241, 241, 1);
  --checkbox-color: rgba(197, 197, 197, 1);
  --checkbox-checked-color: rgba(7, 168, 247, 1);
  --img-bg: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(232, 230, 230, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  /* Sidebar */
  --site-title-color: rgba(113, 113, 113, 1);
  --site-subtitle-color: rgba(113, 113, 113, 1);
  --sidebar-bg: rgba(246, 248, 250, 1);
  --sidebar-border-color: rgba(239, 239, 239, 1);
  --sidebar-muted-color: rgba(84, 84, 84, 1);
  --sidebar-active-color: rgba(29, 29, 29, 1);
  --sidebar-hover-bg: rgba(223, 233, 241, 0.64);
  --sidebar-btn-bg: rgba(255, 255, 255, 1);
  --sidebar-btn-color: rgba(142, 142, 142, 1);
  --avatar-border-color: rgba(255, 255, 255, 1);

  /* Topbar */
  --topbar-bg: rgba(255, 255, 255, 0.7);
  --topbar-text-color: rgba(78, 78, 78, 1);
  --search-border-color: rgba(240, 240, 240, 1);
  --search-icon-color: rgba(194, 198, 204, 1);
  --input-focus-border-color: rgba(184, 184, 184, 1);

  /* Home page */
  --post-list-text-color: rgba(105, 105, 105, 1);
  --btn-patinator-text-color: rgba(85, 85, 85, 1);
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: rgba(5, 80, 174, 1);
  --toc-popup-border-color: rgba(211, 211, 211, 1);
  --btn-share-color: rgba(128, 128, 128, 1);
  --btn-share-hover-color: rgba(13, 110, 253, 1);
  --card-bg: rgba(255, 255, 255, 1);
  --card-hovor-bg: rgba(226, 226, 226, 1);
  --card-shadow: rgba(104, 104, 104, 0.05) 0 2px 6px 0,
    rgba(211, 209, 209, 0.15) 0 0 0 1px;
  --footnote-target-bg: rgba(224, 255, 255, 1);
  --tb-odd-bg: rgba(251, 252, 253, 1);
  --tb-border-color: rgba(234, 234, 234, 1);
  --dash-color: rgba(192, 192, 192, 1);
  --kbd-wrap-color: rgba(189, 189, 189, 1);
  --kbd-text-color: rgba(52, 52, 60, 1);
  --kbd-bg-color: rgba(255, 255, 255, 1);
  --prompt-text-color: rgba(46, 46, 46, 0.77);
  --prompt-tip-bg: rgba(123, 247, 144, 0.2);
  --prompt-tip-icon-color: rgba(3, 179, 3, 1);
  --prompt-info-bg: rgba(225, 245, 254, 1);
  --prompt-info-icon-color: rgba(0, 112, 203, 1);
  --prompt-warning-bg: rgba(255, 243, 205, 1);
  --prompt-warning-icon-color: rgba(239, 156, 3, 1);
  --prompt-danger-bg: rgba(248, 215, 218, 0.56);
  --prompt-danger-icon-color: rgba(223, 60, 48, 1);

  /* Tags */
  --tag-border: rgba(222, 226, 230, 1);
  --tag-shadow: rgba(233, 236, 239, 1);
  --tag-hover: rgba(222, 226, 230, 1);
  --search-tag-bg: rgba(248, 249, 250, 1);

  /* Categories */
  --categories-border: rgba(0, 0, 0, 0.125);
  --categories-hover-bg: rgba(233, 236, 239, 1);
  --categories-icon-hover-color: rgba(47, 79, 79, 1);

  /* Archive */
  --timeline-color: rgba(0, 0, 0, 0.075);
  --timeline-node-bg: rgba(194, 198, 204, 1);
  --timeline-year-dot-color: rgba(255, 255, 255, 1);

  /* --- Custom code light mode colors --- */
  --language-border-color: rgba(236, 236, 236, 1);
  --highlight-bg-color: rgba(246, 248, 250, 1);
  --highlighter-rouge-color: rgba(63, 89, 111, 1);
  --highlight-lineno-color: rgba(158, 158, 158, 1);
  --inline-code-bg: rgba(25, 25, 28, 0.05);
  --code-color: rgba(58, 58, 58, 1);
  --code-header-text-color: rgba(163, 163, 163, 1);
  --code-header-muted-color: rgba(229, 229, 229, 1);
  --code-header-icon-color: rgba(201, 200, 200, 1);
  --clipboard-checked-color: rgba(67, 199, 67, 1);

  [class^='prompt-'] {
    --link-underline-color: rgba(219, 216, 216, 1);
  }

  .dark {
    display: none;
  }

  /* --- Syntax highlight theme from `rougify style github` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: rgba(36, 41, 47, 1);
    background-color: rgba(246, 248, 250, 1);
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: rgba(207, 34, 46, 1);
  }

  .highlight .gr {
    color: rgba(246, 248, 250, 1);
  }

  .highlight .gd {
    color: rgba(130, 7, 30, 1);
    background-color: rgba(255, 235, 233, 1);
  }

  .highlight .nb {
    color: rgba(149, 56, 0, 1);
  }

  .highlight .nc {
    color: rgba(149, 56, 0, 1);
  }

  .highlight .no {
    color: rgba(149, 56, 0, 1);
  }

  .highlight .nn {
    color: rgba(149, 56, 0, 1);
  }

  .highlight .sr {
    color: rgba(17, 99, 41, 1);
  }

  .highlight .na {
    color: rgba(17, 99, 41, 1);
  }

  .highlight .nt {
    color: rgba(17, 99, 41, 1);
  }

  .highlight .gi {
    color: rgba(17, 99, 41, 1);
    background-color: rgba(218, 251, 225, 1);
  }

  .highlight .kc {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .sb {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .bp {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .ne {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .nl {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .py {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .o,
  .highlight .ow {
    color: rgba(5, 80, 174, 1);
  }

  .highlight .gh {
    color: rgba(5, 80, 174, 1);
    font-weight: bold;
  }

  .highlight .gu {
    color: rgba(5, 80, 174, 1);
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: rgba(10, 48, 105, 1);
  }

  .highlight .nd {
    color: rgba(130, 80, 223, 1);
  }

  .highlight .nf,
  .highlight .fm {
    color: rgba(130, 80, 223, 1);
  }

  .highlight .err {
    color: rgba(246, 248, 250, 1);
    background-color: rgba(130, 7, 30, 1);
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: rgba(104, 113, 122, 1);
  }

  .highlight .gl {
    color: rgba(104, 113, 122, 1);
  }

  .highlight .gt {
    color: rgba(104, 113, 122, 1);
  }

  .highlight .ni {
    color: rgba(36, 41, 47, 1);
  }

  .highlight .si {
    color: rgba(36, 41, 47, 1);
  }

  .highlight .ge {
    color: rgba(36, 41, 47, 1);
    font-style: italic;
  }

  .highlight .gs {
    color: rgba(36, 41, 47, 1);
    font-weight: bold;
  }
}
